[2021-01-21 20:26] cowboyd commented on #695
Painful as it might be, we have to find the way to make our tests more reliable. Only running them on release PRs would just be sweeping things under the rug. If we think that it's frustrating to have flaky windows tests on a PR, it's gonna feel way worse if that same flake is hiding there just waiting to block a release.

[2021-01-21 20:49] minkimcello opened #784 "Creating better DX for integrations"
PR #776 creates(created?) a separate integrations directory outside the normal workspace of the bigtest monorepo.

The current workflow looks like so:
- User creates changeset for corresponding packages in their PR
- PR gets merged with those changesets, release action does not publish any packages because the packages' versions have not been modified
- Changeset action creates a new PR after cons

[2021-01-21 20:55] minkimcello opened #785 "Replace todomvc with the sample app"
Currently, `cli`, `server`, and `integrations/cypress` relies on `@bigtest/todomvc` for its tests and we need to replace it with the BigTest sample app.

[2021-01-22 07:55] taras opened #786 "The secret sauce of reliability and understanding architecture of testing tools in the JavaScript ecosystem"
There are many tools available in our industry that are designed for browser automation which some use for testing, for example, Playwright. There are also testing tools that manage DOM but are not browsers like Jest. Jest can also be used to execute Playwright commands. This approach is taken by a bunch of tools - like for example [QAWolf](https://www.qawolf.com/).

There are many different permu

[2021-01-22 07:55] #771 closed, assigned to nobody

[2021-01-22 08:40] taras commented on #786
Here is a good list of existing tools https://testguild.com/top-8-essential-javascript-automation-frameworks/

<blockquote><img src="https://mk0testguildcomxeb3s.kinstacdn.com/wp-content/uploads/2016/06/JavaScriptAutomationFramework.jpg" width="48" align="right"><div><img src="https://mk0testguildcomxeb3s.kinstacdn.com/wp-content/uploads/2019/09/favicon-150x150-c-center.ico" height="14"> Automatio

[2021-01-22 16:05] #759 closed, assigned to nobody

[2021-01-22 17:50] minkimcello commented on #695
So then should we go ahead and close this issue?

[2021-01-22 17:53] dagda1 commented on #695
I think we should get to the bottom of why they are flaking rather than saving up the agony.

[2021-01-23 04:04] cowboyd commented on #786
@taras Well, since you asked :) https://github.com/thefrontside/bigtest/pull/788

[2021-01-25 03:34] jenweber opened #790 "Add more details to the sample app's README"
When someone goes through the Interactors tutorial, they may want to push their work up to GitHub. It would be great if the README linked to the docs for Interactors and Bigtest, and included the tagline for the project so that people know what the repo is, even if the user doesn't fill it out themselves.

[2021-01-27 12:43] jnicklas opened #791 "D"

[2021-01-27 12:50] jnicklas opened #792 "Reject non string matchers as the first argument to an interactor constructor"
The first argument to an interactor constructor can either be a filter, or a `MaybeMatcher<string>`. This means that passing something like a `Matcher<number>` as the first argument should be rejected, but it is currently not. This is due to how the types are combined and using `Record<never, never>` as the starting type. Eventually we would like to use `never` as the starting type, instead of `Re

[2021-01-27 14:47] jnicklas opened #796 "Support passing matcher to filter definition"
For some filters, we may want to provide a different matching experience by default. So that e.g. a `className` filter by default would match if *one* of the classes matches the given value. It would be cool if we could provide a matcher to use for this.

Note that with the current implementation, a `Matcher` is an already constructed value with a given value, so what we'd need is something like t

[2021-01-29 10:13] cowboyd commented on #796
I assume that we would be able to also override with a custom matcher?

[code]

[2021-01-29 13:26] cowboyd opened #799 "Update "writing your own interactors" guide to use the new builder syntax"
We have a brand new syntax that makes typing easier and also make re-use possible. We need to update our guides to use this syntax since the old syntax is deprecated and will eventually become broken.

[2021-01-30 06:48] cowboyd opened #800 "tsconfig option not being defined when using bigtest inside a monorepo"
An attempt was made by backstage developers at spiking a bigtest implementation (https://github.com/backstage/backstage/tree/59c234ed2ed3254164defcd8677170bee7a269f9). However, they quickly ran into a bundling issue where the default export of the testcase was not being included in the built manifest.

As a result, the manifest builder receives this error when trying to evaluate the manifest:

[co

[2021-01-30 06:55] cowboyd commented on #800
See

discord: [discord://ptb.discord.com/channels/700803887132704931/700804158172954794/804920728884871168](discord://ptb.discord.com/channels/700803887132704931/700804158172954794/804920728884871168)
or discord web: https://ptb.discord.com/channels/700803887132704931/700804158172954794/804920728884871168

for the original conversation and debug session

<blockquote><img src="https://ptb.discord.c

[2021-01-30 07:02] cowboyd opened #801 "malformed bundle is difficult to diagnose"
When encountering #800, this catestrophic misconfiguration only reported the realtively innocuous error message in the server output:

[code]

We should clearly indicate that bigtest could not process the bundle probably due to an internal error and that we should report the issue. It might even be panic-worthy.

[2021-01-30 07:05] cowboyd opened #802 "Whenever there is a rogue process lying around, the ci command hangs rather than erroring out."
As part of the diagnosis of #800, we encountered a complicating issue where the CI process would hang, while the server process would start up fine and could have tests run against it.

If the orchestrator fails to start as part of the CI command because there is an port that is unreleased, then the CI command should bark loudly.

[2021-01-30 07:07] cowboyd commented on #800
Worth mentioning that setting the `tsconfig` option in `bigtest.json` or passing the `--tsconfig` cli option did _not_ fix the error. Only monkey-patching the call to `createManifestBuilder` and passing an absolute path to a `tsconfig` actually worked.

[2021-01-31 09:35] dagda1 commented on #800
the option is not getting passed through from orchestrator

[code]

[2021-01-31 10:21] cowboyd commented on #800
@dagda1 So how was this ever working?

[2021-01-31 10:31] dagda1 commented on #800
because we have both `tsconfigDefaults` and `tsconfigOverride` set in `bundler.ts`.

[code]

that is like an in-memory tsconfig that seems to be enough.

[code]
That resolves to pretty much what the tsconfig that `bigtest init` creates.

[2021-02-01 10:11] dagda1 commented on #801
I personally think insisting on a default export is problematic and I think we should work with named exports.  Default exports in typescript are not the norm which in someway has something to do with them initially being difficult to implement before `esModuleInterop` was added.

We don't appear to have any runtime checks and I don't think a generic error message is going to wash here.

I created

[2021-02-02 08:23] #781 closed, assigned to nobody

[2021-02-02 08:50] cowboyd commented on #801
I agree with you that in most cases a default export is not good, which we generally eschew it. However, in this case, not using a default export only sweeps the problem under the rug. We would need a "magic" named export that would have to be there, otherwise we couldn't discover and link the test. E.g. `export const theTest = test('My Test');` and then our bundler would have to look for an expor

[2021-02-02 09:25] dagda1 commented on #801
I was forgetting about the reason why.  That is tricky and would possibly need some AST trickery to cure it.  The default export is good enough for now but we need really good validation that points to there not being a default export.

Oh maybe there is more than one case.

This fails with the `.map` error also

[code]

That is why I am being pedantic about this, if I get the big long error messa

[2021-02-02 09:32] dagda1 commented on #801
this will also obviously fail as there are no `assertions` and `children` to map over:

[code]

[2021-02-02 09:47] cowboyd commented on #801
We should probably validate that there are both `children`, and `assertions` since they are part of the `Test` interface, and their absence would indicate that something is malformed.

[2021-02-03 14:27] minkimcello commented on #790
Do you mean a better description in `package.json`?

[2021-02-03 14:49] dagda1 opened #812 "Validate that bigtest has test files to run against"
The bug that was raised for #800 has this `testFiles` glob:

[code]

 The correct directory is `test` and not `src`.

 This is further complicated by the fact that the glob ` "testFiles": [  "src/**/*.test.{ts,js}"],` actually found a match but it was a `jest` test.

[code]

 I definitely do not think this is a one-off and we should fail early if bigtest:

 - finds no tests
 - finds no bigtest tes

[2021-02-03 15:00] minkimcello commented on #812
Is this related to #635?

[2021-02-03 16:28] minkimcello commented on #679
@jnicklas @dagda1 I went down the same rabbit hole to try and get rid of the warning. I see that the `orchestrator` invokes `createManifestBuilder`:
[code]
And the `manifest-builder` creates the `Bundler`:
[code]
I don't understand at which point the `options` object is modified to include `tsconfig`.

Edit: Oh that's what #803 is for.

[2021-02-03 20:23] minkimcello opened #814 "Implementing integrations for CI without mudding up the lock file"
I remember now why I piggybacked integrations' `install` and `prepack` scripts to the main monorepo. It was for the preview and release workflows. Those workflows only run `yarn install` and `yarn prepack` at the root and do not have options to run specific commands inside the individual directories of packages.

We're trying to avoid putting it into the current workspace to separate the dependenc

[2021-02-03 21:41] dagda1 commented on #679
@minkimcello this is different than #803.  this is when there are no typescript files, i.e it is a javascript project but the rollup tyoescript2 plugin is still included in the rollout plugins array.

no inputs means no files to transpile, it comes from tsc.

ideally we would not include that plug-in if we are dealing with javascript only but it is not entirely clear cut when it is.

[2021-02-03 22:21] jnicklas commented on #814
Hmm, I see. Can we add `yarn install:integrations` and `yarn prepack:integratrions` to those workflows to make that work?

[2021-02-03 22:36] minkimcello commented on #814
@jnicklas Oh yes! We can. 😄

[2021-02-04 01:15] jenweber opened #815 "Documentation - add a section about `child` to Writing your first test"
When I was trying to write some tests and interactors from scratch, I was a little confused about why and when to use `child`. I think this should have its own section on this page: https://frontside.com/bigtest/docs/platform/writing-your-first-test  I saw that I was not supposed to add steps after assertions, but it did not occur to me to use child.

Here are some reasons why someone someone shou

[2021-02-04 01:15] jenweber commented on #815
@cowboyd do you have anything to add?

[2021-02-04 01:22] jenweber opened #816 "Documentation - show saving a query to a variable"
I think this could be part of a Test Examples section of the documentation, or something similar.

When working on my first BigTest written from scratch, I found that I was repeating myself a lot with things like `TextField('something', {focused: true})`. I was surprised to learn that you can safely save this to a variable used in a test:

[code]

This was very cool and very surprising to me, afte

[2021-02-04 01:23] jenweber commented on #816
@cowboyd please add or edit to this if you have more details/ideas.

[2021-02-04 01:27] jenweber opened #817 "Documentation - show using `is` in BigTest"
This could be part of a cookbook or collection of test examples.

Initially, I was writing my assertions like this:

[code]

I learned that I could instead do the following, which reads more nicely:

[code]

This is also a learning opportunity about how these selectors and assertions work. In example number 1, the assertion is true if there is at least one element matching the selector. There coul

[2021-02-04 01:40] jenweber opened #818 "Feature - focus on next element after TextInput"
This issue requires team discussion before it should be worked on.

In order to make it easier to test using keyboard navigation through a form, there should be an easy way to bring focus to the next element, just like in real life.

Today, the `fillIn` helper calls `blur()` when it is finished:

https://github.com/thefrontside/bigtest/blob/4d7c43f9daeb8be2b9343ed8ef6acc1252bc490d/packages/interac

[2021-02-04 01:40] jenweber commented on #818
@cowboyd please review and add more ideas/guidance if you have them!

[2021-02-04 01:44] jenweber opened #819 "Documentation - explain better what goes into `createInteractor`"
In [Write your own](https://frontside.com/bigtest/docs/interactors/write-your-own) interactor docs, we show using createInteractor, but we do not explain the string arg that it takes.

We should say that you can put anything you want for the string, and show how it is presented in the error messages. The aim is to make failures more readable and customizable.

[2021-02-04 01:46] jenweber opened #820 "Improve error message for createInteractor"
If you don't pass a string to `createInteractor`, you get the following message:

It would be better for this error to be caught and have a message like:

[2021-02-04 01:50] jenweber opened #821 "Documentation - BigTest and Storybook use case"
This requires team discussion before it should be worked on.

BigTest and interactors are especially powerful when used for component libraries, and one of the most popular tools for component libraries is Storybook. It would be great to show how BigTest and Storybook work great together.

Here's an example of how Storybook tests work with Cypress: https://storybook.js.org/docs/react/workflows/int

[2021-02-04 01:53] jenweber opened #822 "Feature - run tests on change"
This issue requires team discussion before it can be worked on.

When I was writing my first BigTest, I found myself wishing that I had a way to automatically re-run tests after a change. I did not have to restart the BigTest server, but I did have to relaunch the test each time. A `watch` mode is a feature that users may be expecting from their past experience with Jest or Ember.

[2021-02-04 01:56] jenweber opened #823 "Documentation - Show both JavaScript and TypeScript in JS examples"
Some of the examples present in the Interactors docs do not work in the sample app because it does not use TypeScript. For example:

[code]

A  new learner has to modify the code before it can be used. Since BigTest provides full TypeScript support, we should show TypeScript by default, but also have a tab for JavaScript.

@cowboyd @minkimcello what do you think of this idea?

[2021-02-04 01:59] jenweber commented on #821
@jorgelainfiesta when things are ready, perhaps we could get a BigTest example added straight to the Storybook guides content. It could be pretty cool!

[2021-02-04 08:14] #800 closed, assigned to nobody

[2021-02-04 11:23] jorgelainfiesta commented on #823
Should we change the demo app to be written in typescript instead? Or only use Javascript through all the examples, and add a doc page about typescript support?

My concern is that having both tabs will imply maintaining twice as many code snippets, which can be more prone to error and imply more work when updating the docs. Plus, I don't know to what extend the difference is so great that we have

[2021-02-04 11:25] jorgelainfiesta commented on #821
Yes great idea! that'd be awesome! I'm a big fan of this issue.

[2021-02-04 12:37] cowboyd commented on #772
This was closed by #797

[2021-02-04 12:37] #772 closed, assigned to nobody

[2021-02-04 13:27] cowboyd opened #824 "Update guides to show using matchers"
With #797 we now have the capability to match powerfully on interactor filters, not just using `deepEquals`. This means that if you have html that is like:

[code]

We don't necessarily want to have to type all of those things in the test case. like:

[code]

Not only is this ugly, but it's brittle in the event that we want to do something like change the punctuation or capitalization. This is the

[2021-02-04 13:32] cowboyd commented on #707
I think we hit this, so closing unless it should be open.

[2021-02-04 13:32] #707 closed, assigned to nobody

[2021-02-04 13:56] jnicklas commented on #816
Interestingly even this is technically safe, though IMO not something we should encourage:

[code]

[2021-02-04 15:18] jnicklas commented on #438
With the introduction of matchers this feels to me like it is no longer necessary?

[2021-02-04 15:19] jnicklas commented on #695
With the switch to CircleCI, our tests are now reliable and reasonably fast. Let's close this.

[2021-02-04 15:19] #695 closed, assigned to nobody

[2021-02-04 17:11] minkimcello commented on #823
I agree that having both wouldn't be so great. But I'm thinking maybe we can stick to Javascript instead of Typescript as it'll be more inclusive for both crowds. People who use Typescript won't have too much trouble typing the interactors.

[2021-02-04 18:38] cowboyd commented on #438
Yep, We would write the original example as `Heading(matching(/Welcome to FOLIO/))`

And so it looks like @pittst3r wins the crystal ball award. From his comment on August 5th 2020:

[2021-02-04 18:38] #438 closed, assigned to nobody

[2021-02-04 20:20] cowboyd commented on #816
Agree. In summary, we should make sure to emphasize that the reference to the interactor is safe to re-use, but that you should not re-use actions and assertions.

[2021-02-04 20:33] #814 closed, assigned to nobody

[2021-02-04 20:35] cowboyd commented on #818
Looks like we can perhaps use this as something to help us out, although I'd prefer a ponyfill to a polyfill

 https://github.com/awesomeeng/FocusTraversalAPI

[2021-02-04 20:36] cowboyd commented on #817
@minkimcello Is this addressed sufficiently by the changes you just put in relating to `is()` and `has()` ?

[2021-02-04 20:39] minkimcello commented on #817
Yes and we also already explain the difference between `exists()` and `is()/has`

[2021-02-04 20:39] #817 closed, assigned to nobody

[2021-02-05 12:08] jnicklas opened #833 "Error when starting webdriver should fail immediately rather than timing out"
Creating a session via `POST /session` can fail in some circumstances. For example on macOS, remote automation of Safari needs to be explicitly enabled, otherwise creating a session might fail like this:

[code]

However, in our webdriver code, we never actually check that this request was successful, so we end up timing out waiting for the driver to load. Instead if we get an error creating the s

[2021-02-05 21:17] cowboyd commented on #815
@jenweber yes, I would unpack the definition of "fast" to say that this allows us to optimize the test run without any extra effort by the user.  We already do some first order optimizations, but I foresee us being able to do things like transparently parallelize a test run across multiple browsers with zero changes to your test code.

[2021-02-07 15:36] minkimcello commented on #593
@jnicklas #826 seems to be the reason the server tests are failing. Do we have plans to fix this soon?

[2021-02-07 18:54] #799 closed, assigned to jenweber, minkimcello

[2021-02-07 18:55] #785 closed, assigned to minkimcello

[2021-02-08 15:11] #553 closed, assigned to jnicklas, cowboyd

[2021-02-08 15:13] #669 closed, assigned to jnicklas, cowboyd

[2021-02-08 20:13] cowboyd opened #844 "Update guides to show using `extend()` inside authoring interactors."
Most of the time when you're creating your own interactors, you actually want to extend an existing interactor. In fact, most of the interactors in the builtin list use:

[code]

That way, they inherit the `id`, `title`, `visible` and `focused` filters, and they get the `click()`, `focus()`, and `blur()` actions for free.

However, all of our content on creating your interactors shows using `creat

[2021-02-08 20:16] cowboyd opened #845 "Add `HTML` and `FormField` to the builtin interactor list."
With the advent of the the builder syntax, we have extracted the `HTML` interactor which is the parent of almost all of our interactors.  Not only is this handy for defining new interactors, but it is useful in its own right for making abstract assertions.

This is an example from a FOLIO test suite using RTL matchers to make a very broad assertion that the text "Not Authorized" is _somewhere_ in

[2021-02-09 09:08] cowboyd opened #847 "Add `className` and `classList` filters"
Especially when writing a test suite for components, you want to be able to make certain assertions based on the class name (`string`)or the class list (`string[]`)

[code]

[2021-02-09 14:30] jenweber commented on #705
Closed by https://github.com/thefrontside/bigtest/pull/798

[2021-02-09 14:30] #705 closed, assigned to nobody

[2021-02-09 14:36] jenweber commented on #790
No, I’m thinking of adding to the readme. Something like this could go under the first heading:

That language should borrow from the descriptions on the home pages for BigTest and interactors.

[2021-02-09 14:38] jenweber commented on #823
I like the idea of showing just JavaScipt, if we need to choose one. It removes a barrier for the average developer.

[2021-02-10 09:02] jnicklas opened #853 "Use `innerText` instead of `textContent`"
In our interactors we currently use `textContent`, but `innerText` would be a better choice. The differences between the two are explainer [here](https://developer.mozilla.org/en-US/docs/Web/API/Node/textContent#differences_from_innertext).

[2021-02-10 09:03] jnicklas commented on #833
Something else was going on here, this actually works as intended.

[2021-02-10 09:03] #833 closed, assigned to nobody

[2021-02-10 09:04] jnicklas commented on #822
Sounds like a great idea, and should not be too difficult to implement.

[2021-02-10 09:30] #847 closed, assigned to nobody

[2021-02-10 15:38] minkimcello opened #855 "Website newsletter sign up form padding"
In both desktop and mobile format, there seems to be padding missing from the newsletter sign up form:

## Desktop
![Screen Shot 2021-02-10 at 10 30 49 AM](https://user-images.githubusercontent.com/29791650/107532353-d306da80-6b8b-11eb-9489-ecbc1e79f3b1.png)
- Join our newsletter image is cropped
- I think this section needs a bit more padding on the bottom so that it's more or less proportional t

[2021-02-10 17:54] #823 closed, assigned to nobody

[2021-02-11 09:27] jnicklas opened #857 "Pass through arbitrary options to drivers"
Currently when defining a driver, we can define it like this:

[code]

There are no other options aside from these. However, the various browsers can be started with a whole bunch of options. For example I wanted to create a `chrome.debug` driver, with `--auto-open-devtools-for-tabs`. This is currently not possible, since there is no way to pass through this option. One option would be to change t

[2021-02-11 09:34] jnicklas commented on #853
I just tried implementing this, and there is a small Hiccup:

The property `innerText` is actually *not* defined for all elements, it is a property of `HTMLElement`. So while we can use it as the locator for our `HTML` interactor, we cannot use it as the default locator for *all* interactors, since those allow the broaders `Element` class (e.g. SVG), which does not define this property.

[2021-02-12 08:28] #480 closed, assigned to jnicklas, cowboyd, pittst3r

[2021-02-12 14:03] #853 closed, assigned to nobody

[2021-02-16 13:29] cowboyd commented on #857
WRT the `capabilities` argument, this seems very reasonable.

For the case of the "browser name", one of the things that has always bothered me is that the `browserName` means nothing if the if the `type` is `"remote"`. By the same token, if the type is `remote`, then where does the url come from?

Perhaps, the `local/remote` options should be under the `local/remote` key.

[code]

[2021-02-16 13:37] jnicklas commented on #857
That's a much improved API, IMO. It might be worth questioning even the local/remote dichotomy. It seems like this is something that is somewhat ingrained in webdriver, but an even more descriptive alternative might be something like this:

[code]

[2021-02-16 15:59] jnicklas commented on #818
An idea might be to have something like a global `Keyboard` interactor, which could be used for more advanced keyboard actions. For example:

[code]

[2021-02-17 07:59] cowboyd commented on #857
That looks perfect 👌🏼

[2021-02-17 09:38] jnicklas commented on #383
This is something that our current `fillIn` helper has implemented. We want to add a more comprehensive API for this, but I will create a new issue for it.

[2021-02-17 09:38] #383 closed, assigned to nobody

[2021-02-17 10:27] jnicklas opened #867 "Keyboard emulation for interactors"
I am spinning this off from #818 as its own issue, since while it is related, this feature also stands on its own.

When writing tests for keyboard interactions, we are often forced by test frameworks to write them in an unnatural way. The keyboard is a physical device which the user can use at any point in time. Pressing keys on the keyboard can have various effects on the document, depending on

[2021-02-17 10:41] taras commented on #867
The reasoning sounds solid. Do you prefer `Page` interactor to `Keyboard` interactor? If so, why?

[2021-02-17 11:01] jnicklas commented on #867
I think both are fine. My main reason for preferring to attach this to page, is that it already exists, and that we wouldn't need to add any additional components, which makes it feel a bit more compact to me, but I don't have a strong opinion on this.

[2021-02-17 11:05] taras commented on #867
Keyboard Interactor reinforces the idea that "the keyboard is a distinct physical device, and that is how the user sees it."

[2021-02-17 11:51] jorgelainfiesta commented on #855
Fixed on #861

[2021-02-17 11:51] #855 closed, assigned to jorgelainfiesta

[2021-02-17 14:54] wKich commented on #867
I'd like 'sendKeys' api from selenium https://www.selenium.dev/documentation/en/webdriver/keyboard/

[2021-02-17 15:18] jnicklas commented on #867
@wKich do you prefer it for compatibility reasons, or for some other reason?

I have to admit to not being a huge fan of control characters as an API, since it requires some higher level API to make it readable, but I could see it as an advantage to copy an already existing API.

[2021-02-17 15:54] wKich commented on #867
The reason is you don't need to write DSL to enter text with the control characters.

But 'Page.pressKey('a', { meta: true });' looks pretty good.

[2021-02-17 16:01] dagda1 commented on #867
Cypress (and others) use the `{special cars}` syntax [in place](https://github.com/cypress-io/cypress/blob/8fb3ad9767fa30109bc6ccb52d5dabd50d7c35b2/packages/driver/src/cy/keyboard.ts)

[code]

[2021-02-17 17:17] wKich commented on #867
The issue starts if you need to type precisely '{ctrl+a}' or something similar. So the user needs to learn yet another syntax and how/when to escape such characters/words. And you will not get a highlighting in your favorite IDE. Use special syntax instead of well-designed API is a very complicated solution.

[2021-02-18 09:14] cowboyd commented on #867
I think we should have both a low-level api for sending individual keystrokes, and also a gesture language because there are certain things that can only be accomplished by relating keystrokes together such as "type this string with a delay of 500ms between each keystroke"

I've actually done some experimentation with a template language that is different from the Cypress and Testing libraries, in

[2021-02-19 04:52] wKich commented on #867
For the case `{withDelay 500 @{it was the best of times, it was the worst of times}}` I would like to use `Page.typeText(withDelay(500, 'Hello world'));` or `Page.typeText('Hello world', withDelay(500));`. Because it's a more natural way to write code. In my case, a user has syntax highlighting and autocompletion out of the box, he doesn't need to learn a new language.

`cowboyd{tab}password{click

[2021-02-19 09:38] #379 closed, assigned to nobody

[2021-02-19 09:59] cowboyd commented on #867
Syntax aside, I think the main thing I'd like to accomplish long-term is the representation of user gestures and gesture sequences as data, or more specifically hierarchical data that can represent scope. I should have led with this idea instead of a concrete syntax.

If we have this baked in, or at least as a goal from the start, then the syntax that we can use to generate that data can be swappa

[2021-02-19 10:12] taras commented on #867
We will always have users of varieties of technical proficiency. We want the organization or group to be to control the requirements. For one team, this might mean using TypeScript, for another it could mean using something like Gerkin. Overtime, the same team might start with TypeScript and move to Gerkin. We have to design our software in a way that will allow teams to move up and down "no-code

[2021-02-19 17:56] wKich commented on #867
So you mean about to support different variations of API, do you? That makes sense. And yeah, lisp is an excellent language)

[2021-02-22 09:33] #790 closed, assigned to minkimcello

[2021-02-23 14:15] jnicklas commented on #867
All of the keyboard interactor functions compose via async functions:

[code]

While this looks fairly longwinded, it's worth considering that this is an absolute edge case! The vast majority of keyboard interactions will not need to look like this, because most likely the user just wants to enter some text. This actually makes a case that even a DSL like I suggested is unnecessary. There is a cas

[2021-02-23 14:20] jnicklas commented on #867
TIL there is an experimental webapi for retrieving the current keyboard layout. Unfotunately only Chrome and Edge currently implement this API: https://developer.mozilla.org/en-US/docs/Web/API/KeyboardLayoutMap

[2021-02-23 14:51] jenweber commented on #867
I have one thought experiment to add here - imagine that the same API is being used to test a desktop app instead of a browser, like Photoshop’s keyboard controls. Would you want the semantics or experience to change? This framing could help with any decisions that need to be made one way or another.

[2021-02-25 08:32] strobus opened #875 "bigtest server fails with 'cannot link context to itself'"
Running the following command with BigTest 0.13.1 results in an error.

[code]

The error is:

[code]

The bigtest.json file is:

[code]

Very cool project, thank you for all the great work!

[2021-02-27 21:55] jnicklas commented on #875
Hi @strobus, thank you for trying out BigTest and thank you for reporting this!

I was able to replicate this issue. It seems there has been a regression when running BigTest without an app command, which really should have been caught by our test suite, I'm not sure why it wasn't. I will investigate this first thing on Monday, and hopefully we can get this fixed quickly.

[2021-03-01 12:51] jnicklas commented on #875
Hi @strobus, we just released 0.13.2 which fixes this issue for me. Could you give it a try and see if it solves the problem for you as well?

[2021-03-02 09:02] cowboyd commented on #867
In this sense it feels like the api should be centered around the actual physical hardware. In other words, since I use the same keyboard to interact with webapps and desktop apps on my laptop, the interactor api should be similar. On the other hand, I use a software keyboard on my phone and tablet and so the API should have different characteristics.

For example, it's very hard to imagine doing

[2021-03-03 11:57] taras opened #880 "Make it easier to find BigTest Architecture section"
## Context

I'm talking to people about BigTest and the Architecture of BigTest is an important part of these conversations.
It would be helpful to me if it was easier to find the Architecture page from [BigTest website](https://frontside.com/bigtest/interactors).

## Possible Solution

Add a link to the Architecture page in the footer under the Platform column.

[2021-03-03 12:23] jorgelainfiesta commented on #880
The link in the footer works for me; I wouldn't put it on the header. We also have to update "Platform" to use "Runner" everywhere, I imagine making that difference is important for the conversations you're having at the moment. I'll make a quick PR for this now.

[2021-03-03 13:14] minkimcello commented on #880
@jorgelainfiesta I think he's talking about https://frontside.com/bigtest/docs/platform/architecture and not https://frontside.com/bigtest/platform, right? @taras

[2021-03-03 13:16] taras commented on #880
@minkimcello Yes, I need the architecture page that you linked

[2021-03-03 19:37] zburke opened #882 "CRASH: Cannot find module 'typescript'"
# Error Report

Following the instructions at https://frontside.com/bigtest/docs/platform:
[code]
This can be resolved by
[code]
but since I answered "no" to "Do you want to write your tests in TypeScript?" that seems odd.

NB: The helpful-looking "Copy" button next to all the console instructions is slightly less helpful than it could be because it copies the leading `$ `, which you have to remov

[2021-03-04 03:31] cowboyd opened #883 "Don't include the shell prompt in "Copy" links for guides"
When following the installation process in our guides in #882 @zburke noted that the "copy" links to copy commands included the shell prompt, which is not super useful since you end up with a double shell prompt when you try to use it.

In other words, in the display `$ npm install bigtest --save-dev`, the string that should be copied is just the command itself:

[code]

not the command plus shell

[2021-03-04 03:34] cowboyd commented on #882
Hey @zburke, Thank you soooo much for taking the time to report this!

@jnicklas @dagda1 Not gracefully handling the options when users do not select typescript is something that keeps coming up again and again. It seems we should have a separate integration test where we set up and run a TS project and also setup and run a JS project to make sure both pathways are secured.

[2021-03-04 05:32] jenweber commented on #882
I can reproduce this when working with a freshly generated sample app as well, after upgrading the bigtest version. The sample app workaround is to install typescript. I'll open a PR as a stopgap.

[2021-03-04 07:47] dagda1 commented on #882
Oh yes, definitely shoddy that we have not crossed this off.  I have known about it.

#679 is one issue also where we either include the rollup typescript plugin when there is no typescript or we suppress that particular error message.

You could suppress it potentially through a custom rollup plugin which are pretty lightweight to create.

[2021-03-04 08:50] jnicklas commented on #883
Can we just get rid of the leading `$`? Including it in the shell prompt is just a convention anyway. It use to be to distinguish from running as root using `su` where it would show a leading `#`, but no one ever does this these days anyway. My prompt does not include the `$` at all for example:

<img width="393" alt="Screenshot 2021-03-04 at 09 50 23" src="https://user-images.githubusercontent.co

[2021-03-04 13:32] #883 closed, assigned to minkimcello

[2021-03-04 14:03] minkimcello commented on #880
@taras @jorgelainfiesta Does it make sense for the architecture page to be under bigtest/docs/runner? Or is it just there temporarily because we don't have much else for the runner docs at the moment? Because the architecture page seems more like a `why/what` whereas everything else in the docs is `how`.

[2021-03-04 15:03] minkimcello opened #889 "Including both yarn and npm lock files in the sample app"
In the sample app I've been including both `yarn.lock` and `package-lock.json` files so that people who want to try out `bigtest-sample` will have the appropriate dependency versions regardless of whether they use `yarn` or `npm`. This _feels_ unconventional?

I know we're planning on migrating to NPM eventually (issue #681) but assuming it's okay to have both `yarn.lock` and `package-lock.json` w

[2021-03-04 15:57] cowboyd commented on #889
@minkimcello probably? Although if we want to keep supporting yarn (doubtful) then we can keep it as long as we do.

[2021-03-04 15:58] #889 closed, assigned to nobody

[2021-03-08 19:35] zburke opened #894 "chromedriver version does not match chrome version"
# Error Report

Following the instructions at https://frontside.com/bigtest/docs/platform:
[code]
fails with
[code]
Chrome 89 was released on 2021-03-02, six days ago, but it takes several days/weeks for Chrome releases to actually roll out. My Chrome install does not report that it is outdated, for example, and thus there is no way to update to v89.

This was all working on Thursday when I left t

[2021-03-08 19:39] zburke commented on #894
Full story: I have a working `package-lock.json` from last week's npm-based installation. Today's project was to get this running in a yarn workspace (because I am only on node v14/npm v6, because reasons). LMK if you are interested in the lock files.

[2021-03-08 19:57] minkimcello commented on #894
@zburke Could you try updating to `0.13.3`? I haven't tested it yet but I believe it was addressed.

https://github.com/thefrontside/bigtest/blob/v0/packages/bigtest/CHANGELOG.md#0133

<blockquote><img src="https://repository-images.githubusercontent.com/100052766/a3090380-83ce-11ea-9e4b-1d0396ecd24b" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" hei

[2021-03-08 20:11] zburke commented on #894
@minkimcello no luck:
[code]
Additional details:
[code]

[2021-03-08 20:22] cowboyd commented on #894
@zburke While we try to work through this, are you able to update Chrome?

[2021-03-08 20:48] zburke commented on #894
@cowboyd, no, because Chrome doesn't believe itself to be outdated. I would love to force an update, but the [update instructions](https://support.google.com/chrome/answer/95414?co=GENIE.Platform%3DDesktop&hl=en#:~:text=Mac%20users%3A%20You%20can%20also,update%20Chrome%20for%20all%20users.) indicate "If you can't find \[the "Update Google Chrome"\] button, you're on the latest version." I can't fi

[2021-03-08 22:28] cowboyd commented on #894
There are no quick fixes here, but one which we're considering is to remove the hard dependency on `chromedriver` completely and let users just add `chromedriver` in their dev dependencies themselves. If we find chromedriver in your node modules path, we use that, then if we can't find it there we look in your system path, then, if we don't find it there we issue an error detailing how to either d

[2021-03-09 00:40] zburke commented on #894
Yes and no. If the problem is identifying which `chromedriver` version to depend so it matches the version of Chrome a user has installed, and that can't necessarily be done, well, crap, you can't solve the problem automatically. But you can easily provide the instructions for solving it manually: "Type `chrome://version/` into the address bar to get your Chrome version, then run
[code]
That's not

[2021-03-09 17:44] #880 closed, assigned to nobody

[2021-03-10 14:01] jnicklas commented on #894
The basic problem here is that if we add a dependency on `chromedriver` in bigtest, then that version might be outdated relatively to chrome, which should normally be evergreen and updated to the latest version. What is really frustrating is that even running `yarn upgrade chromedriver` does *not* update that dependency, since it is a transitive dependency. The user has to remove their `yarn.lock`

[2021-03-10 14:49] zburke commented on #894
Lots of good info there about why this is such a thorny problem, @jnicklas! For me, the most important point is "no perfect solution here, it's all tradeoffs" but also my corollary: it's really not a big deal as long as you know you need to do it. i.e. as long as you say, "Now go install a compatible version of `chromedriver` with `npm` or `homebrew` or `apt` (sorry we couldn't do this for you; it

[2021-03-11 17:32] minkimcello opened #900 "Active app port is assumed to be the app to test"
If another app is opened in the same port that is configured to be the app port in `bigtest.json`, the server will assume it's the app that it's supposed to test. But if the `app.command` is configured, I think we should have it check if it's already active or not.

The sample app opens in port 3000 by default and I noticed if I run bigtest with the sample app while I'm working on the bigtest webs

[2021-03-12 08:43] cowboyd commented on #900
This makes a lot of sense. We need to re-think out our port mapping strategy. Some ports should be fixed and fail if the won't bind, while others need to be flexible. I'm thinking about cases where we have multiple bigtest servers running on the same system.

[2021-03-23 06:19] wKich commented on #822
I agree the `watch` mode is a must-have feature. The initialization time of BigTest, especially with building an app, might be too much

[2021-03-23 12:52] cowboyd opened #905 "Consider trimming button locator text"
Just ran into this issue when trying out tests on Safari:

[code]

As you can see, the only reason that the locators didn't match was because of the trailing "\n" which apparently the Safari DOM preserves for `innerText` and gecko and chrome do not.

[2021-03-23 13:09] minkimcello opened #906 "Rename the format function for matchers"
From a discussion in [PR #902](https://github.com/thefrontside/bigtest/pull/902):

I think we could call it `error()` or `errorMessage()`.

[2021-03-23 14:05] cowboyd commented on #906
It isn't just an error message, it's also used in locators:

`HTML(including("Hello World")).click()`:

[code]

In that case, is the string `including "Hello World"` really an error message even though it appears inside an error message?

Also, in our [inspector](https://github.com/thefrontside/bigtest/pull/903) These could appear matchers that you are just evaluating to play around, and we'd want

[2021-03-23 14:16] minkimcello opened #907 "Reorganize the docs' sidebar"
[Context](https://github.com/thefrontside/bigtest/pull/902#discussion_r595448846) from #902

I think for the same reason why React has a `Introducing Hooks` page instead of a `Using State and other React features without Class` page, I think it's important to include the actual names of functions/concepts we're introducing for each pages' titles. For example, if someone drops into our Discord chan

[2021-03-23 14:18] minkimcello commented on #906
@cowboyd Oh I see. Then maybe `description()` as you suggested would be most appropriate

[2021-03-23 16:14] jorgelainfiesta commented on #907
I agree with the solution that you propose on the third column, great stuff!

I also think keeping "Jest & Cypress" is better than "Integrations" because those are keywords that people will look for.

[2021-04-06 04:35] Ayushgh1017 opened #912 "Whenever i tried to create react app it shows module not find."
It is showing the error mentioned below
Error: Cannot find module './node.js'
Require stack:
- C:\Users\abhishek\AppData\Roaming\npm\node_modules\create-react-app\node_modules\debug\src\index.js
- C:\Users\abhishek\AppData\Roaming\npm\node_modules\create-react-app\node_modules\tar-pack\index.js
- C:\Users\abhishek\AppData\Roaming\npm\node_modules\create-react-app\createReactApp.js
- C:\Users\abhis

[2021-04-06 04:36] Ayushgh1017 commented on #912
Plz solve this problem for me . I am beginner in this .

[2021-04-07 06:59] cowboyd commented on #912
Hi @Ayushgh1017,

It looks like this is an issue with the `create-react-app`, and so my recommendation would be to [file your report there](https://github.com/facebook/create-react-app/issues/new?assignees=&labels=issue%3A+bug+report%2C+needs+triage&template=bug_report.md)

Good luck!

[2021-04-07 06:59] #912 closed, assigned to nobody

[2021-04-07 13:19] #824 closed, assigned to jenweber, minkimcello

[2021-04-08 08:06] jnicklas opened #914 "Interactor `perform` should allow return value"
Sometimes it'd be useful to return a value out of a `perform`. For example in material UI interactors, we had to do [this workaround](https://github.com/thefrontside/material-ui-interactors/blob/598a4fa038a3471316b5a63621e977e528d19bd5/src/calendar.ts). It would be pretty simple to enable this, so let's just add this option.

[2021-04-20 04:21] wKich opened #1036 "BigTest add way to assert thrown exception"
For now there is no way to test a specific thrown Error message. As example if we have this test where calendar day restriction is limited and we try to select disabled day.
[code]

The calendar should throw `new Error(`Can't select ${day} day because it's disabled`);`

[2021-04-21 07:58] wKich opened #915 "Should Checkbox `checked` filter also exclude any indeterminate checkboxes"
Checkbox has two different flags `checked` and `indeterminate` both can be in two states
- `checked=false` and `indeterminate=false`
![image](https://user-images.githubusercontent.com/6397708/115515861-f8584900-a29e-11eb-8e52-ab7057e33db0.png)

- `checked=true` and `indeterminate=false`
![image](https://user-images.githubusercontent.com/6397708/115515931-0c03af80-a29f-11eb-9cd4-af3c3cea154d.png)

[2021-04-21 08:06] cowboyd commented on #915
I'm generally in favor of the idea that the filter should be not just a reflection of the DOM values, but of what the user sees. It feels like option (2) is the right API.

My biggest question though is will this introduce awkwardness into tests written in TypeScript because the type is now essentially `boolean | 'indeterminate'` which is not something you see every day. The only thing I can reall

[2021-04-21 08:37] wKich commented on #915
We can add a special enum for that. But it requires to do a few of changes to matchers and output formaters

[2021-04-21 08:41] cowboyd commented on #1036
Could we say

[code]

[2021-04-22 07:48] wKich opened #916 "React.createPortal creates a portal outside the `app-frame`"
The issue could be reproduced here https://github.com/thefrontside/material-ui-interactors/tree/604099b376676ddfabaffb839846fab953dfc725

The render function https://github.com/thefrontside/material-ui-interactors/blob/604099b376676ddfabaffb839846fab953dfc725/test/helpers.tsx#L10-L27

![](https://cdn.discordapp.com/attachments/783795154967330857/831082543230746655/unknown.png)

[2021-04-23 10:18] wKich commented on #1036
@cowboyd What about?
[code]

The reason is `setDay` is an action and it could produce side-effects

Another approach is don't fail on any `step` exception, just collect the error and check it in the assertion step, like this:
[code]

[2021-04-23 12:00] cowboyd commented on #1036
Hmmm...

I think option two is more doable today:

[code]

[2021-04-26 19:59] #907 closed, assigned to minkimcello

[2021-04-27 12:36] wKich opened #919 "Support `optgroup` in Select/MultiSelect interactor"
Original discussion with proposals: https://github.com/thefrontside/material-ui-interactors/pull/14#issuecomment-826638256

[2021-04-29 08:03] jorgelainfiesta opened #920 "Interactors package README"
I'd like to submit Interactors to several curated lists, but most of them ask for links to the repo. The basic assumption seems to be that the whole repo is of interest to the list. But in our case, it's only `@bigtest/interactor` that is relevant for most lists (at the moment). Would it suffice to make a more juicy REAME in `bigtest/packages/interactor` or what would be the standard practice?

Th

[2021-05-05 07:01] cowboyd commented on #919
Feels like this is definitely a gap in our API that should be added.

[2021-05-05 17:12] #906 closed, assigned to nobody

[2021-05-10 13:03] minkimcello commented on #819
I think this has been resolved already?

![Screen Shot 2021-05-10 at 9 02 58 AM](https://user-images.githubusercontent.com/29791650/117663332-8f157880-b16e-11eb-946a-3ab9971c3e28.png)

[2021-05-14 11:03] minkimcello commented on #820
<details>
<summary>convoluted mumbo jumbo</summary>
<br>
So I've looked into this and it seems we only need to worry about javascript tests because in typescript it'll tell you what's wrong before it tries to instantiate the interactors:
<br>
<img src="https://user-images.githubusercontent.com/29791650/118257538-bf199000-b47c-11eb-9aa7-8843440edba8.png"/>
<img src="https://user-images.githubuserco

[2021-05-18 00:32] cowboyd commented on #820
@minkimcello @jenweber There are a couple of options:

1. what if we just made a default `anonymous interactor` and it is not an error
2. we defer the error from when you construct the interactor until you use the interactor
3. we defer and make it a warning.

Hard to say which is best.

[2021-05-18 11:42] minkimcello commented on #820
Oh I spoke too soon earlier. I realized I can throw in the `console.warn` inside `findMatches()` to get the behaviour we're looking for.

I don't think we should have an anonymous interactor. That just creates one more thing we need to explain.

And I think we should throw a hard error to force people to use interactors properly. It also formats more nicely.

As a console warn:
![Screen Shot 2021-

[2021-05-19 13:46] cowboyd commented on #820
Perfect!

So sounds like the options are:

1. whiny anonymous interactor
2. fail if no name

I kinda lean towards the (2) but don't feel strongly either way.

[2021-05-19 13:51] #819 closed, assigned to nobody

[2021-05-30 12:55] #820 closed, assigned to minkimcello

[2021-06-02 06:13] wKich opened #936 "Page.visit() doesn't reload url with changed hash part only"
For example
[code]
The second step failed by timeout because the test iframe source URL isn't changed and only the hash part is changed and the load event isn't triggered.

Refs
- https://github.com/marmelab/react-admin/blob/master/cypress/integration/auth.js#L15-L17
- https://stackoverflow.com/questions/21893361/force-iframe-to-reload-document-when-only-src-hash-changes

[2021-06-02 06:21] wKich opened #937 "Add `reload` action for Page interactor"
react-admin project uses cypress, which has `reload` method. But Page interactor of BigTest doesn't have such action.

https://github.com/marmelab/react-admin/blob/master/cypress/integration/auth.js#L43

[2021-06-02 06:21] wKich opened #1037 "Add `reload` action alongside to the `visit` action"
react-admin project uses cypress, which has `reload` method. But Page interactor of BigTest doesn't have such action.

https://github.com/marmelab/react-admin/blob/master/cypress/integration/auth.js#L43

[2021-06-04 05:45] wKich commented on #936
As a proposal
[code]
instead of https://github.com/thefrontside/bigtest/blob/d85e5e952926a533c98d177b560c7a998ca597ef/packages/interactor/src/page.ts#L26

[2021-06-04 06:16] wKich opened #939 "Add SVG interactor"
Because we exclude svg elements from html interactor here https://github.com/thefrontside/bigtest/pull/930 we have to add a separate SVG interactor for them. Also, we need to discuss what API should be

[2021-06-04 16:33] cowboyd commented on #936
@wKich this could work, can we make the scheme specific to the page interactor, and also monotonically increasing, e.g. `bigtest-page-number=2`, `bigtest-page-number=3`, etc...?

[2021-06-04 17:02] #914 closed, assigned to wKich

[2021-06-09 08:03] wKich commented on #936
@cowboyd what do you mean in scheme specific?

[2021-06-09 09:26] wKich opened #942 "Add a way that allows submit form by enter"
react-admin project has a test where they check submit a form by pressing Enter key
https://github.com/marmelab/react-admin/blob/master/cypress/integration/create.js#L132-L162

If I understand right, BigTest doesn't have any similar action.

PS calling the `submit` method of form leads to unexpected result without creating a post, just reload the page with query params in url.

[2021-06-09 14:38] cowboyd commented on #936
Sorry, what I meant was that the `bigtest` parameter is to big, let's scope it to the page interactor, so instead of `?bigtest=`, `?bigtest-page-interactor-number=3`

[2021-06-10 09:23] wKich commented on #936
Ok :)

[2021-06-15 08:42] #936 closed, assigned to nobody

[2021-06-23 16:53] cowboyd opened #947 "Interactor docs don't explicitly mention that interactors wait for elements to interact"
Arguably _the_ killer feature of interactors is that they decouple interaction with DOM elements from the timing of those elements becoming available. However, we still field questions quite often on "how do I make sure an element is available before interacting with it."

The docs should feature this aspect of interacors prominently. Perhaps we should have an "Introduction" part of the guide inst

[2021-06-29 09:17] wKich opened #949 "Can't reuse actions in one interactor because of TypeScript error"
Here is an example from `material-ui-interactors`. The code from below works, but TypeScript will complain about missing property.

[code]

[2021-06-29 17:09] cowboyd commented on #949
In this case, you would need to call `actions()` twice.

[code]

I don't know if there is any way around it other than this for TypeScript

[2021-06-30 05:50] wKich commented on #949
Yeah, it seems that workaround is the only way to deal with it.

[2021-06-30 15:30] cowboyd commented on #949
Do you consider this a bug or just a limitation of our API and TypeScript?

[2021-06-30 15:45] wKich commented on #949
It's more limitation than a bug. I think I was hurry when create this issue

[2021-07-13 14:53] #844 closed, assigned to nobody

[2021-07-13 14:53] #845 closed, assigned to minkimcello

[2021-07-26 19:34] cowboyd opened #953 "Cannot use destructured interactor methods inside composite actions"
Action methods are not currently bound in some, if not all circumstances. This means that they cannot be destructured inside a composite action:

### expected: does not throw error

[code]

### actual: Error `this` is undefined

[2021-07-27 21:30] jbolda opened #955 ""submit an issue" error message url encoding"
The url is that is produced can contain single quotes which appear to break the link in some terminals. It would be nice to make it clickable.

![image](https://user-images.githubusercontent.com/2019387/127229985-7d314b53-e4ab-4aab-be84-d74251556a1f.png)

Text shown in above screenshot:

[code]

[2021-07-27 21:47] cowboyd commented on #955
Grosss! It shourld be clickable for sure. We use [terminal-link](https://github.com/sindresorhus/terminal-link) for generating the issue links. Maybe a bug there?

[2021-07-27 22:27] jbolda opened #956 "Error [ERR_HTTP_HEADERS_SENT]: Cannot set headers after they are sent to the client"
Getting the following error, but only in CI (github actions: https://github.com/thefrontside/frontside.com/pull/143/checks?check_run_id=3175965538#step:6:24 ). It seems to run fine locally on a macbook air. I presume it is a race condition?

[code]

[2021-07-30 15:33] jbolda opened #957 "BigTest has a proxy error with gatsby"
It appears that Gatsby (run through `netlify dev`) starts up slowly enough and maybe doesn't provide the correct signals that it is ready, and BigTest times out the connection with a proxy error. See this [clip from stream](https://clips.twitch.tv/ZealousBoldOrangePJSalt-B1C4Yf48Guue0DH_).

[code]

[2021-07-30 15:56] jbolda opened #958 "@babel/preset-typescript required in non-TS based project"
If you try to run BigTest in a project without Typescript, you get the following error. Installing it does fix the issue.

[code]

[2021-07-30 16:08] jbolda opened #959 "default tsconfig in BigTest expects `.ts`"
If you init a project without Typescript, it is very likely you won't have / configure a `tsconfig.json`. The default config does not have `"allowJs": true` set, so it will fail. To alleviate the issue, I had to make a tsconfig.json including it such as below. It still does appear to run though?

You can produce by removing the `bigtest.tsconfig.json`, updating `bigtest.json` to remove that refere

[2021-07-30 16:16] jbolda commented on #679
I actually just opened #959, but it seems related to this.

[2021-07-30 16:24] jbolda opened #960 "Windows hang and ctrl+c socket error"
When BigTest hangs on Windows and I hit `Ctrl+C`, I get a socket error. See the [clip from the stream](https://clips.twitch.tv/HealthyGenerousBeeAsianGlow-7dIJ3RJiY2ZnnAtL) for more context.

### error

[code]

[2021-07-31 13:41] cowboyd commented on #959
We really ought to fix this, and I'm not sure what the options are. Are these some of them?

1. try to generate a "pseudo tsconfig" if one is not present, and make sure it allows includes ".js" files?
2. If there is no reference to to `tsconfig.json` in the bigtest config, then we don't include the rollup plugin at all?

[2021-07-31 13:52] cowboyd commented on #957
As you can see, the app server inside bigtest itself will just keep looping until it receives a `response.ok`

https://github.com/thefrontside/bigtest/blob/effection-v2/packages/server/src/app-server.ts#L36-L56

You can increase the amount of time that it will wait from the `bigtest ci`

If netlify is returning `response.ok` when in fact, it is not ok, then we might have to add an extension point

[2021-07-31 14:08] dagda1 commented on #959
@jbolda do you have an example repo that I can clone with this failing?  I have an idea how to fix this.

[2021-07-31 19:38] jbolda commented on #959
@dagda1 I think if you clone frontside.com and delete the bigtest.tsconfig.json you should be able to reproduce. I meant to say that in the OP but apparently missed it.

[2021-08-02 13:22] jbolda commented on #957
Ah yea, that makes sense. I was looking at the CLI options too and didn't think to look into that. I guess I assumed it was just waiting until it started.

Notes for checking if this is the issue / documenting it:
- [ ] the CLI option: https://github.com/thefrontside/bigtest/blob/effection-v2/packages/cli/src/cli.ts#L97
- [ ] document the CLI option and how it starts up
- [ ] throw an error pointi

[2021-08-02 14:46] dagda1 commented on #959
I've just tested this PR #961 and it seems to work

<img width="1057" alt="bigtest" src="https://user-images.githubusercontent.com/118328/127880080-396c770b-e5df-4055-8ec3-1430910d7d4a.png">

[2021-08-02 14:46] dagda1 commented on #959
and it was previously displaying the message

[2021-08-02 15:34] taras opened #962 "Importing bigtest/cypress breaks Cypress' `.should()`"
@axelhunn found this in https://github.com/folio-org/stripes-testing/pull/116/files#r679459664

Expected behavior: there should be no adverse impact on Cypress by importing `@bigtest/cypress` package

[2021-08-02 16:08] taras opened #963 "Improve Interactors site navigation"
Based on feedback from FOLIO community, we need to improve navigation to make documentation easier to find.

1. On the home page, we have Getting Started which leads to documentation but it's not obvious that it goes into Docs. We need an easy way to find Docs.
2. Find method is in "Writing Interactors" which is not easy to find

[2021-08-02 16:16] minkimcello commented on #962
~~This might be because we're still on 7.2.0 and it looks like there was a bug around `.should` that was addressed in 7.5.0?~~

https://docs.cypress.io/guides/references/changelog#7-5-0

<blockquote><img src="https://docs.cypress.io/img/real-world-app.png" width="48" align="right"><div><img src="/img/favicon.ico" height="14"> Cypress Documentation</div><div><strong><a href="https://docs.cypress.io

[2021-08-02 16:17] taras commented on #962
@minkimcello can we bump up and make a release?

[2021-08-02 16:18] minkimcello commented on #962
@taras i'm on it now

[2021-08-02 16:19] jbolda commented on #963
For "#1", I think this makes sense to me as well. I typically look in the top nav for a Docs link, but our nav structure doesn't seem to lend it well to that solution.

[2021-08-02 16:31] taras commented on #963
@jbolda same. @jorgelainfiesta what do you think?

[2021-08-02 21:00] cowboyd commented on #962
It looks like a case of cypress not fully using ES modules internally. I created this upstream issue https://github.com/cypress-io/cypress/issues/17564

[2021-08-03 00:19] cowboyd commented on #949
I'm going to close this out then since it appears to be a limitation of TypeScript

[2021-08-03 00:19] #949 closed, assigned to nobody

[2021-08-03 00:23] cowboyd opened #966 "Remove filters appearing in assertion from the lookup filters?"
Per the discussion in https://github.com/folio-org/stripes-testing/pull/113

[code]

In other words, you are making the assertion that visible is false, but you cannot find the element to make the assertion because visibility is false. The workaround here is that you would use

[code]

But that doesn't read that well, and it leaves in place the gotcha.

In other words, _we have a set of filters th

[2021-08-03 00:46] cowboyd commented on #963
With the work that @minkimcello has been doing for effection, I think it's also worth revisiting the API docs

[2021-08-03 14:10] minkimcello commented on #963
The quick solution would be to change `Get Started` to something like `Go to Docs`. And the slightly more complex solution could be to change the interactor nav link to a dropdown so that it splits to `About` and `Docs`. And do the same for `Runner` and rename the top-level `About` to something else.

The reason why it was nested under `Writing Interactors` was under the notion that `.find()` shou

[2021-08-04 15:38] cowboyd commented on #963
`find()` does seem part of the "locating things to interact with story" that locators and filters are a part of....

[2021-08-04 16:06] minkimcello commented on #963
I think it would be difficult to find a natural way to bring up `.find()` in `Locators, Filters, and Actions` page. The contents of that page is not very technical but just a broad overview.

[2021-08-09 09:01] jorgelainfiesta commented on #963
I think that we need to restructure everything as Min has brought up in the past. Right now we have:

[code]

There is no way of getting from one block to another.

And then there's simulacrum, which we'll most likely need a mini site for relatively soon. In a previous discussion it was agreed that simulation would no longer be within the bigtest mini site. So I propose we eject `interactors` from

[2021-08-09 14:21] johanms opened #969 "CRASH: project_1.jsTSConfig is not a function"
# Error Report

I get this error when running `yarn bigtest server --launch=chrome` after upgrading from bigtest `0.13.3` to `0.14.1`:

`TypeError: project_1.jsTSConfig is not a function`

<details><summary>diagnostics</summary>

Argv
----
server,--launch=chrome

Stack
-----
TypeError: project_1.jsTSConfig is not a function
    at prepareInputOptions (/Users/johanms/workspace/fleks/fleks-marketing

[2021-08-09 15:59] cowboyd commented on #969
Thanks @johanms for the bug report! I suspect that it might be related to a recently introduced change: #961

[2021-08-09 21:29] cherewaty commented on #963
👍

[2021-08-09 21:30] cherewaty commented on #963
We just chatted about this on a call. We could start publishing as `@interactors/html`, `@interactors/material-ui`, etc. instead.

[2021-08-09 21:35] taras commented on #963
@cherewaty excellent. I was getting worried about our import being `@bigtest/interactors`

[2021-08-10 04:26] #966 closed, assigned to wKich

[2021-08-10 15:14] cowboyd commented on #963
I still go to https://frontside.com/effection for example, but the problem is that we have all the technical problems of maintaining a separate site mapped within our main site, but only the smaller portion of the benefit because both the BigTest and Effection websites do not have shared any navigation with our main site. In other words, when you're on `/effection` you have no way to navigate arou

[2021-08-11 14:39] jorgelainfiesta commented on #963
The case of backstage is quite specific, they're an CNCF project, which means Spotify donated all rights to the Linux Foundation and that has several implications about associating it to Spotify directly

@cowboyd I want to create a unified nav across frontside, but haven't had the chance to think how to structure it.

[2021-08-18 13:36] cherewaty opened #981 "Decouple interactor packages from bigtest scope"
The Interactors concept and package are not really coupled to the BigTest runner. Because interactors also work with Cypress, Jest, etc., they would benefit from a branding decoupling.

We can start publishing to the @interactors scope instead.

This issue seeks to set out a plan for changing the publish path from `@bigtest/interactor` to `@interactors/html`. We would then repeat these steps for o

[2021-08-24 20:14] cowboyd commented on #981
@cherewaty I'd go ahead and set up the the other repository to move `interactors` to its own repo as soon as we can. That way we can set up publishing there and it will be decoupled from the versioning in this repo because interactors is basically ready for 1.0, but bigtest isn't.

Also, it lets us move `@interactors/with-cypress` to use changesets/covector which it does not currently.

[2021-08-25 05:16] #962 closed, assigned to wKich

[2021-08-25 12:58] minkimcello commented on #981
And what should we do about the interactor-related issues and PRs?

[2021-08-25 13:20] jnicklas opened #990 "Ensure app server logs do not hog memory"
We currently keep all stdout and stderr output of the app server buffered. However, the app server could (theoretically) generate a lot of output, which would be hogged in memory. We should use a limited size buffer, so we don't have to keep all of the output, while still being able to print the latest output in case something goes wrong.

[2021-08-25 22:42] cowboyd commented on #981
Those should be moved over to the new repository. I believe that is possible as long as they are in the same org?

[2021-08-26 20:39] cherewaty commented on #981
https://docs.github.com/en/issues/tracking-your-work-with-issues/transferring-an-issue-to-another-repository

Yep, I confirmed I see the "Transfer issue" button here with `interactors` as one of the repos I can transfer to.

<blockquote><img src="https://github.githubassets.com/images/modules/open_graph/github-logo.png" width="48" align="right"><div><img src="/assets/images/site/favicon.svg" heigh

[2021-08-27 17:40] jnicklas commented on #875
Now that we've moved to effection v2, this issue is out of date, so I'm closing it.

[2021-08-27 17:40] #875 closed, assigned to nobody

[2021-08-27 17:45] #920 closed, assigned to nobody

[2021-08-27 17:49] jnicklas commented on #340
This is done!

[2021-08-27 19:21] #533 closed, assigned to jnicklas

[2021-08-27 19:21] jnicklas commented on #533
This is done, except we run the CLI tests in firefox now

[2021-08-27 19:22] jnicklas commented on #559
This is done and atom has moved to effection

[2021-08-27 19:22] #559 closed, assigned to nobody

[2021-08-27 19:22] jnicklas commented on #545
This is done

[2021-08-27 19:22] #545 closed, assigned to jnicklas

[2021-08-27 19:23] #514 closed, assigned to nobody

[2021-09-07 11:50] minkimcello commented on #784
The main reason we split the workspaces was to exclude cypress from the main package dependencies. But now that the cypress integration package has cypress as a peer and dev dependency, we could combine everything into one workspace... in the interactor monorepo.

[2021-09-07 11:50] #784 closed, assigned to nobody

[2021-09-08 20:30] cherewaty opened #1005 "ChromeDriver doesn't match Chrome version in Circle browsers image"
`test-agent`, `test-cli`, and `test-webdriver` jobs on Circle CI are failing.

`Error: session not created: This version of ChromeDriver only supports Chrome version 91`

It appears the `circleci/node:14-browsers` image now includes Chrome 93.

[2021-09-09 06:08] cowboyd commented on #1005
We need a durable solution for this. Most other frameworks just require chromedriver to be installed as a dependency. If we want to auto-install, we should probably first detect the version of chrome that is _actually installed_ and then work backwards and download the version of chromedriver needed to control it, because it's such a nagging problem.

#308 #885 #887 #894 #935

[2021-09-13 17:27] cherewaty commented on #981
Success.

[2021-09-13 17:27] #981 closed, assigned to cherewaty

[2021-10-04 07:23] cowboyd opened #1014 "`Query.agents` property in schema is broken"
If you try and query the `agents` field in the schema, you get an error about it being null

[2021-10-04 07:42] cowboyd opened #1015 "Runner hangs when promise rejects with undefined error"
The following test script causes the test suite to hang rather than fail. It's not a common case for sure, but it is useful can happen if you are using a placeholder temporarily while you can generate a failing test case:

[code]

This should fail in some way, but instead it hangs completely.

[2021-10-12 10:40] jnicklas opened #1017 "Result aggregator has quadratic time complexity"
As the number of nodes in the test tree increases, the number of checks we perform in the result aggregator increases quadratically. With a big test suite, such as the material-ui interactors suite, we end up performing a gigantic number of checks.

I figured this out by creating a flamegraph while running the material ui interactors suite and observing that a huge amount of time was being spent i

[2021-10-12 11:27] cowboyd opened #1019 "Steps and assertions that reject to undefined cause bigtest to hang"
This isn't a normal case, but I noticed that when setting up an example project where I wanted to just stub out a failed assertion

[code]

Expected behavior would be a rejection.

[2021-10-12 11:46] cowboyd commented on #1017
😱 😱 😱

[2021-10-13 08:38] cowboyd commented on #1019
Duplicate of #1015

[2021-10-13 08:38] #1019 closed, assigned to nobody

[2021-10-15 08:47] cowboyd opened #1022 "404 when trying to access old interactors URL"
https://frontside.com/bigtest/interactors was the old documentation home for interactors, but now it is `https://frontside.com/interactors` We should have a redirect in place so that anyone referencing it gets popped back to the right place.

[2021-10-22 07:29] wKich opened #1034 "Add ability to subscribe on runner state changes"
Currently runner state of bigtest changes without any notifications, simply reassign new state to bigtestGlobals's runnerState field. If someone wants to integrate the bigtest's agent into his system that would be nice if we provide the ability to subscribe on runner state changes

[2021-10-22 09:05] #1022 closed, assigned to jorgelainfiesta

[2021-10-25 14:57] #1017 closed, assigned to nobody

[2021-10-25 14:57] jnicklas commented on #1017
This is now fixed

[2021-10-26 14:54] jnicklas commented on #1037
We're moving this type of functionality into bigtest, and bigtest will have a `visit` function, so maybe it could have a `reload` function as well?

[2021-10-26 14:59] jnicklas commented on #1036
I transferred this to bigtest, since it is more relevant to bigtest than interactors.

[2021-11-25 14:01] jnicklas opened #1051 "Changeset and release actions are failing"
We are currently having problems with these actions. They have not been working correctly for a while.

[2021-11-25 14:02] jnicklas commented on #1051
@minkimcello seems to be the same issue as on interactors.

[2021-11-29 14:57] #1051 closed, assigned to minkimcello